/*clases principales*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

body{
	background-color: #fff;
}

.borde{
	border: 1px solid black;
}

/*sombra lateral*/
.box-shadow{
	box-shadow: 4px -2px 3px 1px rgba(0,0,0,0.16);
}

/*boton de ir arriba*/
.ir-arriba{
	padding: 20px;
	background: #224699;
	font-size: 20px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	position: fixed;
	top: 75%;
	right: 120px;
	border-radius: 10px;
	display: none;
	z-index: 1000;
}

/*banner de publicidad*/
.banner-advertising {
	text-align: center;
	height: 120px;
}

.banner-advertising img {
	width: 95%;
	height: 100%;
}

/*banner de publicidad - mitad de página*/
.banner-half {
	height: 130px;
}

/*!--.*/

/*header*/
header {
	background: #224699;
}

/*titulo de pagina*/
header .title {
	margin-top: -10px;
}

header .title a {
	color: #fff;
	text-decoration: none;
}

header .title a:hover {
	filter: brightness(0.9);
}

/*boton para descargar dls*/
header .dls-download {
	padding: 0px;
}

header .dls-download ul {
	float: right;
	margin: 0px;
}

header .dls-download ul li {
	list-style: none;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #eeab18;
	margin: 5px 0px 0px 10px;
	padding: 5px;
}

header .dls-download a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

/*boton para mostrar el menu responsive*/
header .seccion-btnMenuResposive label {
	float: right;
	font-size: 35px;
	color: #fff;
	cursor: pointer;
}

/*menu responsive*/
.menuResponsive {
	background: #224699;
	height: 100vh;
	display: none;
	border-top: 1px solid #fff;
}

.menuResponsive ul {
	list-style: none;
}

.menuResponsive ul li {
	border-top: 1px solid #fff;
	padding: 10px 20px;
}

.menuResponsive ul li a {
	color: #fff;
	font-size: 20px;
}

/*!--.*/

/*sidebar*/
aside{
	background: #fff;
	margin-right: -13px;
}

/*sidebar principal*/
.sidebar-main {
	background: #fff;
	color: #282f83;
	border-radius: 5px;
	border: 1px solid #8888;
}

.sidebar-main .title-sidebar {
	text-align: center;
	background: #224699;
	padding: 6px;
}

.sidebar-main .title-sidebar h2{
	margin-bottom: 5px;
	font-size: 25px;
	margin: 0px;
	color: #fff;
}

.sidebar-main ul{
	list-style: none;
	display: block;
	margin: 0px;
}

.sidebar-main ul li{
	height: 50px;
	border-bottom: 2px solid #8888;
}

.sidebar-main ul li a{
	text-decoration: none;
}

.sidebar-main .subtitle-sidebar {
	padding-left: 10px;
	margin: 10px 0px 2px 0px;
}

.sidebar-main .menu{
	position: relative;
	padding: 12px 0px 5px 10px;
	color: #000;
	font-size: 1.4em;
	text-decoration: none;
}

.sidebar-main .barra{
	position: absolute;
	height: 50px;
	width: 0px;
	background-color: #282f83;
	opacity: .1;
}

.sidebar-main li:hover .barra{
	width: 100%;
}

.sidebar-main ul li:hover a{
	text-decoration: none;
}

/*sidebar de publicidad*/
.sidebar-advertising {
	height: 75vh;
}

.sidebar-advertising a img{
	border-radius: 5px;
	margin-left: -12px;
	width: 110%;
	height: 100%;
}

.menu-pegajoso{
	position: sticky;
	top: 30px;
}

/*!--.*/

/*seccion principal de artículos*/
.posts{
	background: #fff;
	margin-top: 1px;
	padding: 10px;
	border-top: 3px solid #224699;
	box-shadow: 2px -1px 20px #8888;
}

/*breadcrumb*/
.breadcrumb{
	background-color: #fff;
	margin-bottom: 5px;
	padding: 0px;
}

.breadcrumb a img{
	margin-bottom: 2px;
}

/*indice*/
.indice{
	padding: 10px 0px 0px 10px;
	margin-top: -10px;
	margin-bottom: -20px;
	background-color: #f9f9f9;
}

.indice h2 {
	margin-top: -5px;
}

.indice ul{
	margin-left: 20px;
}

.indice ul li{
	padding: 2px;
}

.indice ul li a{
	font-size: 17px;
}

/*!--.*/

/*footer*/
footer{
	height: 140px;
	background: #000;
	color: #ededed;
}

footer .copyright{
	margin-top: 30px;
	margin-left: -12px;
}

footer .copyright h2{
	width: 27%;
	padding-bottom: 3px;
	margin-bottom: 5px;
	border-bottom: 1px solid #999;
}

footer .iconos{
	margin-top: 30px;
	text-align: right;
}

footer .iconos a{
	margin-right: 30px;
}

/*!--.*/

/*media screen*/
@media screen and (max-width: 1210px){
	footer .copyright h2{
		width: 30%;
	}
}

@media screen and (max-width: 992px){
	.box-shadow{
		box-shadow: 1px 1px 10px #888888;
	}

	.ir-arriba {
		right: 20px;
	}

	header .title {
		margin-left: -15px;
	}

	header .seccion-btnMenuResposive label {
		margin-right: -20px;
	}

	footer{
		height: 140px;
	}

	footer .iconos{
		margin-top: -100px;
		text-align: right;
		margin-right: -12px;
	}	
}

@media screen and (max-width: 767px){
	.ir-arriba {
		top: 85%;
		right: 25px;
	}

	header .title {
		margin-left: 0px;
	}

	header .seccion-btnMenuResposive label {
		margin-right: 0px;
	}

	footer .copyright{
		margin-left: 0px;
	}

	footer .copyright h2{
		width: 40%;
	}
}

@media screen and (max-width: 412px){
	footer{
		height: 165px;
	}

	footer .copyright h2{
		width: 100%;
	}
}

@media screen and (max-width: 350px){
	header .title a {
		font-size: 25px;
	}

	header .seccion-btnMenuResposive label {
		padding-top: 5px;
	}
}

@media screen and (max-width: 325px){
	.banner-half{
		height: 100px;
	}
}

@media screen and (max-width: 295px){
	header .title a {
		font-size: 20px;
	}
}