/*articulos principales*/
.post-skills ul{
	margin-left: 20px;
	font-size: 19px;
	text-align: justify;
}

.post-skills ul li{	
	padding: 0px 0px 10px 0px;
}

/*sub-lista*/
.sub-list ul{
	/*list-style: none;*/
	margin-left: 25px;
	font-size: 18px;
	text-align: justify;
}