/*articulos principales*/
.post-skills {
	font-size: 19px;
}

.post-skills ul{
	margin-left: 20px;
	font-size: 18px;
	text-align: justify;
}

.post-skills ul li{	
	padding: 0px 0px 10px 0px;
}

/*sub-listas*/
.post-skills .sub-list ul{
	margin-left: 25px;
	font-size: 16px;
	text-align: justify;
}