/*articulos principales*/
.post-help {
	text-align: justify;
}

.post-help p{
	font-size: 19px;
	padding-bottom: 6px;
}

.post-help ul{
	margin-left: 25px;
	font-size: 18px;
}

.post-help ul li{
	padding: 5px;
}